
.prompt {
    font-weight: 200;
    margin-bottom: 10;
}

.selection {
    float: left;
    height: 25px;
    width: 225px;
    margin-right:5px;
}
.newtaskbutton {
    float:left;
}

.taskinput {
    width:400px;
}

